<!DOCTYPE html>
<html>
  <head>
    <title>Agenda App</title>

    <meta charset="utf-8">
    <meta name="description" content="<%= productDescription %>">
    <meta name="format-detection" content="telephone=no">
    <meta name="msapplication-tap-highlight" content="no">
    <meta name="viewport" content="user-scalable=no, initial-scale=1, maximum-scale=1, minimum-scale=1, width=device-width<% if (ctx.mode.cordova || ctx.mode.capacitor) { %>, viewport-fit=cover<% } %>">

    <link rel="icon" type="image/png" sizes="128x128" href="https://cdn-icons-png.flaticon.com/512/284/284301.png">
    <link rel="icon" type="image/png" sizes="96x96" href="https://cdn-icons-png.flaticon.com/512/284/284301.png">
    <link rel="icon" type="image/png" sizes="32x32" href="https://cdn-icons-png.flaticon.com/512/284/284301.png">
    <link rel="icon" type="image/png" sizes="16x16" href="https://cdn-icons-png.flaticon.com/512/284/284301.png">
    <link rel="icon" type="image/ico" href="https://cdn-icons-png.flaticon.com/512/284/284301.png">
  </head>
  <body>
    <!-- quasar:entry-point -->
  </body>
</html>
