<template>
  <q-spinner v-if="isLoading" />
  <div class="q-pa-md">
    <q-table
      flat bordered
      ref="tableRef"
      title="Agendados"
      :rows="rows"
      :columns="columns"
      :table-colspan="10"
      row-key="schedulingId"
      v-if="!isLoading"
      :rows-per-page-options="[5, 10]"
      v-model:pagination="pagination"
      no-data-label="Não há agendamentos disponíveis"
    >
      <template v-slot:body="props">
        <q-tr v-if="props.row.serviceName !== 'bloqueio'" :props="props">
          <q-td key="naturalPersonName" :props="props">
            {{ props.row.naturalPersonName }}
          </q-td>
          <q-td key="naturalPersonPhone" :props="props">
            {{ props.row.naturalPersonPhone }}
          </q-td>
          <q-td key="schedulingDate" :props="props">
            {{ props.row.schedulingDate }}
          </q-td>
          <q-td key="hora" :props="props">
            {{ props.row.hora }}
          </q-td>
          <q-td key="serviceName" :props="props">
            {{ props.row.serviceName }}
          </q-td>
          <q-td align="center">
            <input type="checkbox" name="pago" v-model="props.row.Pago">
            <span> Foi pago</span>
          </q-td>
          <q-td class="my-custom-padding" align="center">
            <q-btn color="green" label="Finalizar" @click="confirmarAgendamento(props.row)" class="q-mr-xs" />
            <q-btn color="negative" label="Cancelar" @click="cancelarAgendamento(props.row)" />
          </q-td>
        </q-tr>
      </template>
    </q-table>
    <q-dialog v-model="isDialogVisible">
      <q-card>
        <q-card-section>
          <div class="text-h6">Confirmar finalização</div>
          <div>O pagamento não foi marcado. Deseja continuar sem marcar como pago?</div>
        </q-card-section>
        <q-card-actions align="right">
          <q-btn flat label="Cancelar" color="primary" v-close-popup />
          <q-btn flat label="Confirmar" color="primary" @click="confirmWithoutPayment" />
        </q-card-actions>
      </q-card>
    </q-dialog>
  </div>
</template>

<script>
import { ref, onMounted } from 'vue'
import { Notify } from 'quasar'

export default {
  setup () {
    const isLoading = ref(true)
    const rows = ref([])
    const isDialogVisible = ref(false)
    const rowToConfirm = ref(null)
    const authToken = localStorage.getItem('authToken')

    const columns = [
      {
        name: 'naturalPersonName',
        required: true,
        label: 'Nome',
        align: 'left',
        field: 'naturalPersonName',
        format: val => `${val}`,
        sortable: true
      },
      { name: 'naturalPersonPhone', align: 'center', label: 'Contatos', field: 'naturalPersonPhone', sortable: true },
      { name: 'schedulingDate', label: 'Data', field: 'schedulingDate', sortable: true },
      { name: 'hora', label: 'Hora', field: 'hora', sortable: true },
      { name: 'serviceName', label: 'Serviço', field: 'serviceName', sortable: true }
    ]

    onMounted(async () => {
      try {
        const legalEntityId = localStorage.getItem('legalEntityId')
        const response = await fetch(`http://54.198.37.93:5123/Scheduling/legalEntity/${legalEntityId}`, {
          headers: {
            Authorization: `Bearer ${authToken}`
          }
        })
        const data = await response.json()

        rows.value = data
          .filter(item => item.schedulingStatusName === 'Agendado' && item.serviceName !== 'Bloqueio')
          .map(item => ({
            ...item,
            schedulingDate: new Date(item.schedulingDate).toLocaleDateString(),
            hora: new Date(item.schedulingDate).toLocaleTimeString([], { hour: '2-digit', minute: '2-digit' }),
            Pago: false
          }))

        isLoading.value = false
      } catch (error) {
        Notify.create({ type: 'negative', message: 'Erro ao buscar dados da API' })
        console.error('Erro ao buscar dados da API:', error)
        isLoading.value = false
      }
    })

    const confirmarAgendamento = async (row) => {
      if (row.Pago) {
        await finalizarAgendamento(row, true)
      } else {
        rowToConfirm.value = row
        isDialogVisible.value = true
      }
    }

    const confirmWithoutPayment = async () => {
      await finalizarAgendamento(rowToConfirm.value, false)
      isDialogVisible.value = false
    }

    const finalizarAgendamento = async (row, pago) => {
      const authToken = localStorage.getItem('authToken')
      const url = pago
        ? `http://54.198.37.93:5123/Scheduling/endsPayedScheduling/${row.schedulingId}`
        : `http://54.198.37.93:5123/Scheduling/endsNotPayedScheduling/${row.schedulingId}`

      try {
        const response = await fetch(url, {
          method: 'PUT',
          headers: {
            'Content-Type': 'application/json',
            Authorization: `Bearer ${authToken}`
          }
        })

        if (response.ok) {
          Notify.create({ type: 'positive', message: 'Consulta finalizada com sucesso!' })
          setTimeout(() => {
            location.reload()
          }, 2000)
        } else {
          Notify.create({ type: 'negative', message: 'Erro ao confirmar consulta' })
          console.error('Erro ao atualizar agendamento:', response.statusText)
        }
      } catch (error) {
        Notify.create({ type: 'negative', message: 'Erro ao confirmar consulta' })
        console.error('Erro ao atualizar agendamento:', error)
      }
    }

    const cancelarAgendamento = async (row) => {
      const authToken = localStorage.getItem('authToken')
      const cancelData = {
        schedulingId: row.schedulingId,
        owner: '3fa85f64-5717-4562-b3fc-2c963f66afa6' // Substitua com o valor apropriado, se disponível
      }
      try {
        const response = await fetch(`http://54.198.37.93:5123/Scheduling/cancel/${row.schedulingId}`, {
          method: 'PUT',
          headers: {
            'Content-Type': 'application/json',
            Authorization: `Bearer ${authToken}`
          },
          body: JSON.stringify(cancelData)
        })

        if (response.ok) {
          const index = rows.value.indexOf(row)
          if (index !== -1) {
            rows.value.splice(index, 1)
          }
          Notify.create({ type: 'positive', message: 'Consulta cancelada com sucesso!' })
        } else {
          Notify.create({ type: 'negative', message: 'Erro ao cancelar consulta' })
          console.error('Erro ao excluir agendamento:', response.statusText)
        }
      } catch (error) {
        Notify.create({ type: 'negative', message: 'Erro ao cancelar consulta' })
        console.error('Erro ao excluir agendamento:', error)
      }
    }

    return {
      columns,
      rows,
      confirmarAgendamento,
      cancelarAgendamento,
      isLoading,
      isDialogVisible,
      confirmWithoutPayment
    }
  }
}
</script>
<style>
.text-right {
  text-align: right;
}

button {
  display: block;
  width: 100%;
  height: 36px;
  border-radius: 30px;
  background-color: #26a69a;
  color: white;
  font-size: 15px;
  cursor: pointer;
}

.my-custom-padding {
  padding: 10%;
  text-align: right;
}
</style>
