<template>
  <div class="primeira">
    <h6>Defina horários de bloqueio:</h6>
    <q-input filled v-model="dateModel" class="full-width larger-input">
      <template v-slot:prepend>
        <q-icon name="event" class="cursor-pointer">
          <q-popup-proxy cover transition-show="scale" transition-hide="scale">
            <q-date v-model="dateModel" mask="YYYY-MM-DD">
              <div class="row items-center justify-end">
                <q-btn v-close-popup label="Enviar" color="primary" flat text-color="white" />
              </div>
            </q-date>
          </q-popup-proxy>
        </q-icon>
      </template>
    </q-input>
    <q-input filled v-model="timeModel" class="full-width larger-input">
      <template v-slot:prepend>
        <q-icon name="access_time" class="cursor-pointer"></q-icon>
      </template>
    </q-input>
    <q-input filled
    v-model="duration"
    class="full-width larger-input"
    label="Tempo de indisponibilidade (minutos)"
    >
      <template v-slot:prepend>
        <q-icon name="access_time" class="cursor-pointer"> </q-icon>
      </template> </q-input>

    <q-btn flat color="secondary" label="Confirmar" type="button" @click="confirmar" text-color="white" />
  </div>
</template>

<script>
import { ref, onMounted } from 'vue'
import axios from 'axios'
import { Notify } from 'quasar'

export default {
  setup () {
    const today = new Date()
    const dateModel = ref(today.getFullYear() + '-' + String(today.getMonth() + 1).padStart(2, '0') + '-' + String(today.getDate()).padStart(2, '0'))
    const timeModel = ref(String(today.getHours()).padStart(2, '0') + ':' + String(today.getMinutes()).padStart(2, '0'))
    const duration = ref('')
    const isLoading = ref(false)
    const serviceId = ref('')
    const naturalPersonId = ref('')
    const fetchData = async () => {
      isLoading.value = true
      try {
        const authToken = localStorage.getItem('authToken')
        const legalEntityId = localStorage.getItem('legalEntityId')
        const response = await axios.get(`http://54.198.37.93:5123/Schedule/blockService/${legalEntityId}`, {
          headers: {
            'Content-Type': 'application/json',
            Authorization: `Bearer ${authToken}`
          }
        }

        )
        const { blockService, blockNaturalPerson } = response.data
        duration.value = blockService.duration
        serviceId.value = blockService.serviceId
        naturalPersonId.value = blockNaturalPerson.naturalPersonId
      } catch (error) {
        console.error('Error fetching data:', error)
        Notify.create({
          type: 'negative',
          message: 'Erro ao buscar dados'
        })
      } finally {
        isLoading.value = false
      }
    }

    const fazerLogin = async () => {
      const legalEntityId = localStorage.getItem('legalEntityId')
      const payload = {

        serviceId: serviceId.value,
        name: 'Bloqueio',
        description: 'Serviço criado para ser utilizado como bloqueio de agenda.',
        duration: duration.value,
        price: 10,
        legalEntityId
      }
      const authToken = localStorage.getItem('authToken')

      await axios.put(`http://54.198.37.93:5123/Service/${serviceId.value}`, payload, {

        headers: {
          'Content-Type': 'application/json',
          Authorization: `Bearer ${authToken}`
        }
      }

      )
    }

    const Enviardados = async () => {
      const desiredTimeZoneOffset = +3 * 60 * 60 * 1000 // Offset for 3 hours in milliseconds (adjust as needed)
      const schedulingDate = new Date(`${dateModel.value}T${timeModel.value}`)
      schedulingDate.setTime(schedulingDate.getTime() - desiredTimeZoneOffset)
      const legalEntityId = localStorage.getItem('legalEntityId')
      const payload = {
        schedulingDate,
        naturalPersonId: naturalPersonId.value,
        legalEntityId,
        serviceId: serviceId.value
      }
      const authToken = localStorage.getItem('authToken')
      await axios.post('http://54.198.37.93:5123/Scheduling', payload, {
        headers: {
          'Content-Type': 'application/json',
          Authorization: `Bearer ${authToken}`
        }
      }

      )
    }

    const confirmar = async () => {
      isLoading.value = true
      try {
        await fazerLogin()
        await Enviardados()
        Notify.create({
          type: 'positive',
          message: 'Dados enviados com sucesso!'
        })
      } catch (error) {
        Notify.create({
          type: 'negative',
          message: 'Erro ao enviar dados'
        })
      } finally {
        isLoading.value = false
      }
    }

    onMounted(() => {
      fetchData()
    })

    return {
      dateModel,
      timeModel,
      duration,
      confirmar,
      isLoading
    }
  }
}
</script>

<style scoped>
h6 {
  color: #17a2b8;
  font-size: 25px;
  text-align: center;
  margin-bottom: 30px;
  margin-top: 30px ;
}

.primeira {
  display: block;
  justify-content: center;
  align-items: center;
  background: #ebebeb;
  border-radius: 25px;
  width: 80%;
  max-width: 600px;
  max-height: 1%;
  padding: 20px;
}

.full-width {
  width: 100%;
  margin-bottom: 10px;
}

.larger-input {
  font-size: 15px;
  height: 50px;
}

button {
  display: block;
  width: 100%;
  height: 36px;
  border-radius: 30px;
  background-color: #26a69a;
  color: white;
  font-size: 15px;
  cursor: pointer;
  margin-bottom: 20px;
  margin-top: 15px;
}

</style>
