<template>
  <q-page padding>
    <div class="q-pa-md">
      <q-card>
        <q-card-section>
          <div class="row items-center justify-between">
            <h6 class="col">Disponibilidade Semanal</h6>
            <q-btn
              class="col-auto"
              style="width: 200px;"
              @click="openDialog"
              label="Editar disponibilidade"
              color="green"
            />
          </div>
          <vue-cal
            ref="calendar"
            :events="events"
            default-view="week"
            :time-from="7 * 60"
            :time-to="19 * 60"
            :time-step="30"
            show-time-in-cells
            disable-views="['years', 'year', 'schedule']"
            @cell-click="cellClick"
            locale="pt-br"
            :snap-to-time="15"
            :special-hours="specialHours"
          />
        </q-card-section>
      </q-card>
      <q-dialog v-model="dialogVisible" persistent>
        <q-card style="max-width: 100%; width: 800px;">
          <q-card-section>
            <div class="text-h6">Editar Disponibilidade</div>
          </q-card-section>
          <q-card-section>
            <div class="row q-col-gutter-md q-gutter-sm">
              <div v-for="(group, weekDay) in groupedEvents" :key="weekDay" class="col-12 col-md-6">
                <q-select
                  v-model="group[0].details.weekDayId"
                  :options="weekDays"
                  label="Dia da Semana"
                  style="width: 100%;"
                  map-options
                  :disable="true"
                />
                <div v-for="(event, index) in group" :key="index" class="row q-col-gutter-md q-gutter-sm">
                  <q-input v-model="event.details.startTime" label="Hora de Início" class="col-12 col-md-6" />
                  <q-input v-model="event.details.endTime" label="Hora de Término" class="col-12 col-md-6" />
                </div>
              </div>
            </div>
          </q-card-section>
          <q-card-actions align="right">
            <q-btn flat label="Cancelar" color="negative" v-close-popup />
            <q-btn flat label="Salvar" color="primary" @click="saveEvents" />
          </q-card-actions>
        </q-card>
      </q-dialog>
    </div>
  </q-page>
</template>

<script>
import VueCal from 'vue-cal'
import 'vue-cal/dist/vuecal.css'
import axios from 'axios'
import { Notify } from 'quasar'

export default {
  components: {
    VueCal
  },
  data () {
    return {
      events: [], // Array to store calendar events fetched from API
      dialogVisible: false,
      weekDays: [
        { label: 'Domingo', value: 1 },
        { label: 'Segunda-feira', value: 2 },
        { label: 'Terça-feira', value: 3 },
        { label: 'Quarta-feira', value: 4 },
        { label: 'Quinta-feira', value: 5 },
        { label: 'Sexta-feira', value: 6 },
        { label: 'Sábado', value: 7 }
      ]
    }
  },
  computed: {
    groupedEvents () {
      return this.events.reduce((groups, event) => {
        const weekDay = event.details.weekDayId
        if (!groups[weekDay]) {
          groups[weekDay] = []
        }
        groups[weekDay].push(event)
        return groups
      }, {})
    }
  },
  methods: {
    async fetchEvents () {
      try {
        const authToken = localStorage.getItem('authToken')
        const legalEntityId = localStorage.getItem('legalEntityId')
        const response = await axios.get(`http://54.198.37.93:5123/Timetable/LegalEntityTimetables/${legalEntityId}`, {
          headers: {
            'Content-Type': 'application/json',
            Authorization: `Bearer ${authToken}`
          }
        })
        const timetable = response.data

        if (timetable.length === 0) {
          // If no events fetched, create default events
          await this.createDefaultEvents()
        } else {
          // Transform API data into formatted events for VueCal
          this.events = timetable.map(item => ({
            start: this.getDateTime(item.weekDayId, item.startTime),
            end: this.getDateTime(item.weekDayId, item.endTime),
            title: 'Disponível',
            details: item,
            class: 'great'
          }))
        }
      } catch (error) {
        console.error('Erro ao buscar eventos:', error)
      }
    },
    async createDefaultEvents () {
      const authToken = localStorage.getItem('authToken')
      const legalEntityId = localStorage.getItem('legalEntityId')
      const defaultEvents = []

      // Creating default events for Monday to Friday
      const weekDays = [2, 3, 4, 5, 6] // Monday to Friday
      weekDays.forEach(day => {
        // 09:00 to 12:00
        defaultEvents.push({
          startTime: '09:00',
          endTime: '12:00',
          legalEntityId,
          weekDayId: day
        })
        // 13:00 to 18:00
        defaultEvents.push({
          startTime: '13:00',
          endTime: '18:00',
          legalEntityId,
          weekDayId: day
        })
      })

      try {
        // Post default events
        await axios.post('http://54.198.37.93:5123/Timetable', {
          timetableRequests: defaultEvents
        }, {
          headers: {
            'Content-Type': 'application/json',
            Authorization: `Bearer ${authToken}`
          }
        })

        // Fetch events again to update UI
        await this.fetchEvents()
        Notify.create({
          type: 'positive',
          message: 'Eventos padrões criados com sucesso!'
        })
      } catch (error) {
        console.error('Erro ao criar eventos padrões:', error)
        Notify.create({
          type: 'negative',
          message: 'Erro ao criar eventos padrões'
        })
      }
    },

    getDateTime (weekDayId, time) {
      const now = new Date()
      const dayOfWeek = weekDayId

      // Split time into hours and minutes
      const [hours, minutes] = time.split(':')

      // Create a copy of the current date
      const eventDate = new Date(now)

      // Set the day of the week and adjust for next week if necessary
      eventDate.setDate(eventDate.getDate() + (dayOfWeek - now.getDay() + 6) % 7)

      // Set hours and minutes
      eventDate.setHours(parseInt(hours))
      eventDate.setMinutes(parseInt(minutes))

      return eventDate
    },
    cellClick (date) {
      console.log('Cell clicked', date)
      // Handle cell click event if needed
    },
    openDialog () {
      if (this.events.length === 0) {
        // Se não houver eventos, cria os eventos padrões
        this.createDefaultEvents().then(() => {
          // Após criar os eventos padrões, abre o diálogo
          this.dialogVisible = true
        }).catch(error => {
          console.error('Erro ao criar eventos padrões:', error)
          Notify.create({
            type: 'negative',
            message: 'Erro ao criar eventos padrões'
          })
        })
      } else {
        // Se já houver eventos, apenas abre o diálogo
        this.dialogVisible = true
      }
    },
    async saveEvents () {
      try {
        for (const event of this.events) {
          const authToken = localStorage.getItem('authToken')
          const payload = {
            id: event.details.timetableId,
            startTime: event.details.startTime,
            endTime: event.details.endTime,
            legalEntityId: event.details.legalEntityId,
            weekDayId: event.details.weekDayId
          }

          await axios.put(`http://54.198.37.93:5123/Timetable/${payload.id}`, payload,
            {
              headers: {
                'Content-Type': 'application/json',
                Authorization: `Bearer ${authToken}`
              }
            }
          )
        }
        this.dialogVisible = false
        this.fetchEvents()
        Notify.create({
          type: 'positive',
          message: 'Dados alterados com sucesso!'
        })
      } catch (error) {
        console.error('Erro ao salvar eventos:', error)
        Notify.create({
          type: 'negative',
          message: 'Erro ao editar dados'
        })
      }
    }
  },
  mounted () {
    // Fetch events when the component is mounted
    this.fetchEvents()
  }
}
</script>

<style scoped>
.q-card {
  margin: 0 auto;
}

.vuecal {
  --vuecal-color-primary: #027be3;
  --vuecal-color-hover: #027be3;
  --vuecal-color-focus: #027be3;
  --vuecal-color-background: #ffffff;
  --vuecal-color-today: rgba(2, 123, 227, 0.1);
}

.vuecal__event.great {
  background-color: green;
  color: white;
}

.q-gutter-sm > * {
  margin: 0 8px;
}

h6 {
  margin-top: -10px;
  margin-bottom: 5px;
}

@media (max-width: 600px) {
  .vuecal {
    font-size: 14px;
  }
}

@media (max-width: 400px) {
  .vuecal {
    font-size: 12px;
  }

  .q-btn {
    width: 100%;
    margin-left: 0;
  }

  .q-card-actions {
    flex-direction: column;
  }

  .q-card-actions > .q-btn {
    width: 100%;
    margin-top: 8px;
  }
}
</style>
