<template>
  <div class="calendar-container is-light-mode">
    <Qalendar :events="events" :config="config" />
  </div>
</template>

<script>
import { Qalendar } from 'qalendar'
import axios from 'axios'

export default {
  components: {
    Qalendar
  },

  data () {
    return {
      events: [],
      config: {
        dayIntervals: {
          length: 30,
          height: 50,
          displayClickableInterval: true
        },
        dayBoundaries: {
          start: 6,
          end: 19
        },
        week: {
          startsOn: 'sunday',
          nDays: 7
        },
        locale: 'pt-BR',
        showCurrentTime: true
      }
    }
  },

  mounted () {
    this.fetchEvents()
  },

  methods: {
    async fetchEvents () {
      try {
        const legalEntityId = localStorage.getItem('legalEntityId')
        const authToken = localStorage.getItem('authToken')
        const response = await axios.get(`http://54.198.37.93:5123/Scheduling/legalEntity/${legalEntityId}`, {
          headers: {
            'Content-Type': 'application/json',
            Authorization: `Bearer ${authToken}`
          }
        }

        )
        const data = response.data
        this.events = data.map(event => {
          const startDate = new Date(event.schedulingDate)
          const duration = parseDuration(event.serviceDuration) // Converter duração para milissegundos

          // Criar endDate baseado em startDate + duração
          const endDate = new Date(startDate.getTime() + duration)

          // Função para formatar a data
          const formatDate = date => {
            const year = date.getFullYear()
            const month = String(date.getMonth() + 1).padStart(2, '0')
            const day = String(date.getDate()).padStart(2, '0')
            const hours = String(date.getHours()).padStart(2, '0')
            const minutes = String(date.getMinutes()).padStart(2, '0')
            return `${year}-${month}-${day} ${hours}:${minutes}`
          }

          // Definir a cor baseado no serviceName
          const color = event.serviceName.toLowerCase() === 'bloqueio' ? 'red' : 'green'

          // Montar o objeto evento com ou sem with e description
          const eventObj = {
            id: event.schedulingId,
            title: event.serviceName,
            time: { start: formatDate(startDate), end: formatDate(endDate) },
            color,
            isEditable: false, // Definir como não editável
            type: 'event'
          }

          // Adicionar with e description se não for "bloqueio"
          if (event.serviceName.toLowerCase() !== 'bloqueio') {
            eventObj.with = event.naturalPersonName
            eventObj.description = `Phone: ${event.naturalPersonPhone}`
          }

          return eventObj
        })
      } catch (error) {
        console.error('Error fetching events:', error)
      }
    }
  }
}

function parseDuration (durationStr) {
  const [hours, minutes, seconds] = durationStr.split(':').map(part => parseInt(part, 10))
  return hours * 3600000 + minutes * 60000 + (seconds ? seconds * 1000 : 0)
}
</script>

<style>
@import "qalendar/dist/style.css";
.calendar-container {
  width: 100%;
  height: 100%;
}
</style>
