<template q-model="LoginLayout">
  <div class="primeira">
    <form class="form" @keyup.enter="fazerLogin">
      <div class="logo-container">
        <img src="https://i.ibb.co/CzzsksM/logo.png" alt="Logo" class="logo"/>
      </div>
      <label>
        <span>Login</span>
        <q-input
          rounded
          outlined
          v-model="login"
          label="Digite seu Email"
          :rules="[
                    val => /[^@ \t\r\n]+@[^@ \t\r\n]+\.[^@ \t\r\n]+/.test(val) || 'Insira um endereço de email válido',
                    val => val && val.length >= 5 || 'O email deve ter no mínimo 5 caracteres'
                  ]"
        />
      </label>
      <label>
        <span>Senha</span>
        <div>
          <q-input rounded outlined v-model="senha" :type="showPassword ? 'password' : 'text'" placeholder="Digite sua senha">
            <template v-slot:append>
              <q-icon
                :name="showPassword ? 'visibility_off' : 'visibility'"
                class="cursor-pointer"
                @click="showPassword = !showPassword"
              />
            </template>
          </q-input>
        </div>
      </label>

      <q-btn flat color="secondary" label="Entrar" type="button" text-color="white" @click="fazerLogin" :disable="!formularioCompleto"/>
    </form>
  </div>
</template>

<script>
import { ref, computed, onMounted } from 'vue'
import { useRouter } from 'vue-router'
import axios from 'axios'
import { Notify } from 'quasar'

const configureAxios = (token) => {
  axios.defaults.headers.common.Authorization = `Bearer ${token}`
  console.log('Token configurado no Axios:', token)
}

export default {
  setup () {
    const login = ref('')
    const senha = ref('')
    const salvarSenha = ref(false)
    const token = ref(null)
    const router = useRouter()
    const showPassword = ref(true)

    onMounted(() => {
      const storedToken = localStorage.getItem('authToken')
      if (storedToken) {
        token.value = storedToken
        configureAxios(token.value)
      }
    })

    const fazerLogin = async () => {
      try {
        const authResponse = await axios.post('http://54.198.37.93:5123/Authentication', {
          email: login.value,
          password: senha.value
        })

        console.log('Resposta da API:', authResponse.data)

        if (authResponse.data.token) {
          token.value = authResponse.data.token

          localStorage.setItem('authToken', token.value)
          localStorage.setItem('legalEntityId', authResponse.data.id)
          localStorage.setItem('userEmail', authResponse.data.email)
          localStorage.setItem('userRoles', JSON.stringify(authResponse.data.roles))

          configureAxios(token.value)

          router.push({ name: 'ProdutosProcedimentos' })
        } else {
          Notify.create({
            type: 'negative',
            message: 'Falha na autenticação. Verifique suas credenciais.'
          })
        }
      } catch (error) {
        if (error.response) {
          console.error('Erro de resposta da API:', error.response.data)
          Notify.create({
            type: 'negative',
            message: error.response.data.message || 'Falha na autenticação. Verifique suas credenciais.'
          })
        } else if (error.request) {
          console.error('Erro de requisição:', error.request)
          Notify.create({
            type: 'negative',
            message: 'Não foi possível obter resposta do servidor. Tente novamente mais tarde.'
          })
        } else {
          console.error('Erro:', error.message)
          Notify.create({
            type: 'negative',
            message: error.message
          })
        }
      }
    }

    const formularioCompleto = computed(() => {
      return !!login.value && !!senha.value
    })

    return {
      login,
      senha,
      salvarSenha,
      token,
      formularioCompleto,
      fazerLogin,
      showPassword
    }
  }
}
</script>

<style scoped>
.primeira {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background: #ebebeb;
  border-radius: 25px;
  width: 90vw;
  max-width: 500px;
  padding: 20px;
  margin: auto;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.logo-container {
  display: flex;
  justify-content: center;
  width: 120%;
}

.logo {
  width: 80%;
  max-width: 350px;
  height: auto;
}

h2 {
  color: #17a2b8;
  padding-top: 10px;
  font-size: 30px;
  text-align: center;
}

.form {
  width: 100%;
  transition: transform 1.2s ease-in-out;
}

label {
  display: block;
  width: 100%;
  margin: 15px 0;
}

label span {
  font-size: 14px;
  font-weight: 600;
  color: #17a2b8;
  text-transform: uppercase;
}

input {
  display: block;
  width: 100%;
  margin-top: 5px;
  font-size: 16px;
  padding-bottom: 5px;
  border-bottom: 1px solid rgba(185, 77, 77, 0.4);
  text-align: center;
  font-family: 'Nunito', sans-serif;
}

button {
  display: block;
  margin: 20px auto;
  width: 100%;
  height: 36px;
  border-radius: 30px;
  background-color: #26a69a;
  color: white;
  font-size: 15px;
  cursor: pointer;
}

button:hover {
  background-color: rgb(43, 233, 91);
}

.salvar-senha-label {
  color: rgb(64, 166, 184);
}

@media only screen and (max-width: 767px) {
  .primeira {
    width: 90vw;
    padding: 10px;
  }

  .logo {
    width: 70%;
    margin: 0 auto;
  }

  button {
    font-size: 14px;
    height: 32px;
  }
}
</style>
