<template>
  <q-layout view="lHh Lpr lFf">
    <q-header elevated class="toolbar-green">
      <q-toolbar color="#24cb53">
        <q-btn
          flat
          dense
          round
          icon="menu"
          aria-label="Menu"
          @click="toggleLeftDrawer"
          class="menu-icon"
        />

        <q-toolbar-title style="color: white;">
          Agenda App
        </q-toolbar-title>

        <!-- Botão de Logout -->
        <q-btn
          flat
          dense
          round
          icon="logout"
          aria-label="Logout"
          class="menu-icon"
          style="color: white;"
          @click="logout"
        />
      </q-toolbar>
    </q-header>

    <q-drawer
      v-model="leftDrawerOpen"
      show-if-above
      bordered
      class="drawer-green"
      :persistent="true"
    >
      <q-item-label
        header
        class="menu-header"
        style="font-size: 20px;"
      >
        Menus
      </q-item-label>
      <q-list>
        <q-item clickable @click="goToProdutosProcedimentos">
          <q-item-section>
            <q-item-label>
              <q-icon name="import_contacts" /> <!-- Ícone de dashboard -->
              Produtos/Procedimentos
            </q-item-label>
          </q-item-section>
        </q-item>

        <q-item clickable @click="goToAgendados">
          <q-item-section>
            <q-item-label>
              <q-icon name="library_books" /> <!-- Ícone de cadastro de cliente -->
              Agendados
            </q-item-label>
          </q-item-section>
        </q-item>

        <q-item clickable @click="goToProdutosCadastrados">
          <q-item-section>
            <q-item-label>
              <q-icon name="inventory_2" /> <!-- Ícone de lista de clientes -->
              Produtos Cadastrados
            </q-item-label>
          </q-item-section>
        </q-item>

        <q-item clickable @click="goToDisponibilidadeHorario">
          <q-item-section>
            <q-item-label>
              <q-icon name="schedule" /> <!-- Ícone de lista de clientes -->
              Disponibilidade Horário
            </q-item-label>
          </q-item-section>
        </q-item>

        <q-item clickable @click="goToBloquearHorario">
          <q-item-section>
            <q-item-label>
              <q-icon name="schedule" /> <!-- Ícone de lista de clientes -->
              Bloquear Horário
            </q-item-label>
          </q-item-section>
        </q-item>

        <q-item clickable @click="goToHorarios">
          <q-item-section>
            <q-item-label>
              <q-icon name="schedule" /> <!-- Ícone de lista de clientes -->
              Horários
            </q-item-label>
          </q-item-section>
        </q-item>

      </q-list>
      <q-img src="https://i.ibb.co/CzzsksM/logo.png" alt="Logo"
        style="width: 350px; height: auto; margin-top: auto; position: absolute; bottom: -35px; left: 61%; transform: translateX(-50%);" />
    </q-drawer>

    <q-page-container>
      <router-view />
    </q-page-container>
  </q-layout>
</template>

<script>
import { defineComponent, ref } from 'vue'
import { useRouter } from 'vue-router'

export default defineComponent({
  name: 'MainLayout',

  setup () {
    const leftDrawerOpen = ref(true) // Inicia o drawer sempre aberto
    const router = useRouter()

    const toggleLeftDrawer = () => {
      leftDrawerOpen.value = !leftDrawerOpen.value
    }

    const goToProdutosProcedimentos = () => {
      router.push('/ProdutosProcedimentos')
    }

    const goToAgendados = () => {
      router.push('/Agendados')
    }

    const goToProdutosCadastrados = () => {
      router.push('/ProdutosCadastrados')
    }

    const goToDisponibilidadeHorario = () => {
      router.push('/Disponibilidade')
    }

    const goToBloquearHorario = () => {
      router.push('/BloquearHorario')
    }

    const goToHorarios = () => {
      router.push('/Horarios')
    }

    const logout = () => {
      // Limpar dados do usuário, como tokens de autenticação
      localStorage.removeItem('authToken')
      localStorage.removeItem('legalEntityId')
      localStorage.removeItem('userEmail')
      localStorage.removeItem('userRoles')
      localStorage.removeItem('naturalPersonEmail')
      // Redirecionar para a página de login
      router.push('/').then(() => {
        window.location.reload()
      })
    }

    return {
      leftDrawerOpen,
      toggleLeftDrawer,
      goToProdutosProcedimentos,
      goToAgendados,
      goToProdutosCadastrados,
      goToDisponibilidadeHorario,
      goToBloquearHorario,
      goToHorarios,
      logout
    }
  }
})
</script>

<style>
.toolbar-green { background-color: green; }
.menu-icon { color: white; }
.drawer-green { background-color: #ebebeb; color: rgb(0, 0, 0); }
.q-toolbar {
  display: flex;
  justify-content: flex-start;
  align-items: center;
}
</style>
